[class*='col-']{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  /*gutter*/
  padding:1rem;
}
.row{
  width:100%;
  max-width:1050px;
  margin-right:auto;
  margin-left:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -o-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.full-width{
  max-width:100%; 
}
.col-1{
  -webkit-flex-basis:8.3333333333% !important;
  flex-basis:8.3333333333% !important;
}
.col-2{
  -webkit-flex-basis:16.6666666667% !important;
  flex-basis:16.6666666667% !important;
}
.col-3{
  -webkit-flex-basis:25% !important;
  flex-basis:25% !important;
}
.col-4{
  -webkit-flex-basis:33.3333333333% !important;
  flex-basis:33.3333333333% !important;
}
.col-5{
  -webkit-flex-basis:41.6666666667% !important;
  flex-basis:41.6666666667% !important;
}
.col-6{
  -webkit-flex-basis:50% !important;
  flex-basis:50% !important;
}
.col-7{
  -webkit-flex-basis:58.3333333333% !important;
  flex-basis:58.3333333333% !important;
}

.col-8{
  -webkit-flex-basis:66.6666666667% !important;
  flex-basis:66.6666666667% !important;
}
.col-9{
  -webkit-flex-basis:75% !important;
  flex-basis:75% !important;
}
.col-10{
  -webkit-flex-basis:83.3333333333% !important;
  flex-basis:83.3333333333% !important;
}
.col-11{
  -webkit-flex-basis:91.6666666667% !important;
  flex-basis:91.6666666667% !important;
}
.col-12{
  -webkit-flex-basis:100% !important;
  flex-basis:100% !important;
}
.offset-1{margin-left:8.3333333333% !important;}
.offset-2{margin-left:16.6666666667% !important;}
.offset-3{margin-left:25% !important;}
.offset-4{margin-left:33.3333333333% !important;}
.offset-5{margin-left:41.6666666667% !important;}
.offset-6{margin-left:50% !important;}
.offset-7{margin-left:58.3333333333% !important;}
.offset-8{margin-left:66.6666666667% !important;}
.offset-9{margin-left:75% !important;}
.offset-10{margin-left:83.3333333333% !important;}
.offset-11{margin-left:91.6666666667% !important;}
/*l*/
@media screen and (min-width:980px){
  .m-only,.m-down{display:none;}
  .col-1-l{
    -webkit-flex-basis:8.3333333333% !important;
    flex-basis:8.3333333333% !important;
  }
  .col-2-l{
    -webkit-flex-basis:16.6666666667% !important;
    flex-basis:16.6666666667% !important;
  }
  .col-3-l{
    -webkit-flex-basis:25% !important;
    flex-basis:25% !important;
  }
  .col-4-l{
    -webkit-flex-basis:33.3333333333% !important;
    flex-basis:33.3333333333% !important;
  }
  .col-5-l{
    -webkit-flex-basis:41.6666666667% !important;
    flex-basis:41.6666666667% !important;
  }
  .col-6-l{
    -webkit-flex-basis:50% !important;
    flex-basis:50% !important;
  }
  .col-7-l{
    -webkit-flex-basis:58.3333333333% !important;
    flex-basis:58.3333333333% !important;
  }
  .col-8-l{
    -webkit-flex-basis:66.6666666667% !important;
    flex-basis:66.6666666667% !important;
  }
  .col-9-l{
    -webkit-flex-basis:75% !important;
    flex-basis:75% !important;
  }
  .col-10-l{
    -webkit-flex-basis:83.3333333333% !important;
    flex-basis:83.3333333333% !important;
  }
  .col-11-l{
    -webkit-flex-basis:91.6666666667% !important;
    flex-basis:91.6666666667% !important;
  }
  .col-12-l{
    -webkit-flex-basis:100% !important;
    flex-basis:100% !important;
  }
  .offset-1-l{margin-left:8.3333333333% !important;}
  .offset-2-l{margin-left:16.6666666667% !important;}
  .offset-3-l{margin-left:25% !important;}
  .offset-4-l{margin-left:33.3333333333% !important;}
  .offset-5-l{margin-left:41.6666666667% !important;}
  .offset-6-l{margin-left:50% !important;}
  .offset-7-l{margin-left:58.3333333333% !important;}
  .offset-8-l{margin-left:66.6666666667% !important;}
  .offset-9-l{margin-left:75% !important;}
  .offset-10-l{margin-left:83.3333333333% !important;}
  .offset-11-l{margin-left:91.6666666667% !important;}
}
/*m*/
@media screen and (max-width:979px){
  .l-only{display:none;}
  .col-1-m{
    -webkit-flex-basis:8.3333333333% !important;
    flex-basis:8.3333333333% !important;
  }
  .col-2-m{
    -webkit-flex-basis:16.6666666667% !important;
    flex-basis:16.6666666667% !important;
  }
  .col-3-m{
    -webkit-flex-basis:25% !important;
    flex-basis:25% !important;
  }
  .col-4-m{
    -webkit-flex-basis:33.3333333333% !important;
    flex-basis:33.3333333333% !important;
  }
  .col-5-m{
    -webkit-flex-basis:41.6666666667% !important;
    flex-basis:41.6666666667% !important;
  }
  .col-6-m{
    -webkit-flex-basis:50% !important;
    flex-basis:50% !important;
  }
  .col-7-m{
    -webkit-flex-basis:58.3333333333% !important;
    flex-basis:58.3333333333% !important;
  }

  .col-8-m{
    -webkit-flex-basis:66.6666666667% !important;
    flex-basis:66.6666666667% !important;
  }
  .col-9-m{
    -webkit-flex-basis:75% !important;
    flex-basis:75% !important;
  }
  .col-10-m{
    -webkit-flex-basis:83.3333333333% !important;
    flex-basis:83.3333333333% !important;
  }
  .col-11-m{
    -webkit-flex-basis:91.6666666667% !important;
    flex-basis:91.6666666667%!important;
  }
  .col-12-m{
    -webkit-flex-basis:100% !important;
    flex-basis:100% !important;
  }
}
@media screen and (min-width:681px) and (max-width:979px){
  .offset-1-m{margin-left:8.3333333333% !important;}
  .offset-2-m{margin-left:16.6666666667% !important;}
  .offset-3-m{margin-left:25% !important;}
  .offset-4-m{margin-left:33.3333333333% !important;}
  .offset-5-m{margin-left:41.6666666667% !important;}
  .offset-6-m{margin-left:50% !important;}
  .offset-7-m{margin-left:58.3333333333% !important;}
  .offset-8-m{margin-left:66.6666666667% !important;}
  .offset-9-m{margin-left:75% !important;}
  .offset-10-m{margin-left:83.3333333333% !important;}
  .offset-11-m{margin-left:91.6666666667% !important;}
}
@media screen and (min-width:681px){
  .s-only,.s-down{display:none;}
}
/*s*/
@media screen and (max-width:680px){
  .m-only,.m-up{display: none;}
    .col-1-s{
    -webkit-flex-basis:8.3333333333% !important;
    flex-basis:8.3333333333% !important;
  }
  .col-2-s{
    -webkit-flex-basis:16.6666666667% !important;
    flex-basis:16.6666666667% !important;
  }
  .col-3-s{
    -webkit-flex-basis:25% !important;
    flex-basis:25% !important;
  }
  .col-4-s{
    -webkit-flex-basis:33.3333333333% !important;
    flex-basis:33.3333333333% !important;
  }
  .col-5-s{
    -webkit-flex-basis:41.6666666667% !important;
    flex-basis:41.6666666667% !important;
  }
  .col-6-s{
    -webkit-flex-basis:50% !important;
    flex-basis:50% !important;
  }
  .col-7-s{
    -webkit-flex-basis:58.3333333333% !important;
    flex-basis:58.3333333333% !important;
  }

  .col-8-s{
    -webkit-flex-basis:66.6666666667% !important;
    flex-basis:66.6666666667% !important;
  }
  .col-9-s{
    -webkit-flex-basis:75% !important;
    flex-basis:75% !important;
  }
  .col-10-s{
    -webkit-flex-basis:83.3333333333% !important;
    flex-basis:83.3333333333% !important;
  }
  .col-11-s{
    -webkit-flex-basis:91.6666666667% !important;
    flex-basis:91.6666666667% !important;
  }
  .col-12-s{
    -webkit-flex-basis:100% !important;
    flex-basis:100% !important;
  }
}
@media screen and (min-width:681px) and (max-width:979px){
  .offset-1-s{margin-left:8.3333333333% !important;}
  .offset-2-s{margin-left:16.6666666667% !important;}
  .offset-3-s{margin-left:25% !important;}
  .offset-4-s{margin-left:33.3333333333% !important;}
  .offset-5-s{margin-left:41.6666666667% !important;}
  .offset-6-s{margin-left:50% !important;}
  .offset-7-s{margin-left:58.3333333333% !important;}
  .offset-8-s{margin-left:66.6666666667% !important;}
  .offset-9-s{margin-left:75% !important;}
  .offset-10-s{margin-left:83.3333333333% !important;}
  .offset-11-s{margin-left:91.6666666667% !important;}
}
@media screen and (min-width:481px){
  .xs-only{display:none;}
}
/*xs*/
@media screen and (max-width:480px){
  .s-only,.s-up{display:none;}
    .col-1-xs{
    -webkit-flex-basis:8.3333333333% !important;
    flex-basis:8.3333333333% !important;
  }
  .col-2-xs{
    -webkit-flex-basis:16.6666666667% !important;
    flex-basis:16.6666666667% !important;
  }
  .col-3-xs{
    -webkit-flex-basis:25% !important;
    flex-basis:25% !important;
  }
  .col-4-xs{
    -webkit-flex-basis:33.3333333333% !important;
    flex-basis:33.3333333333% !important;
  }
  .col-5-xs{
    -webkit-flex-basis:41.6666666667% !important;
    flex-basis:41.6666666667% !important;
  }
  .col-6-xs{
    -webkit-flex-basis:50% !important;
    flex-basis:50% !important;
  }
  .col-7-xs{
    -webkit-flex-basis:58.3333333333% !important;
    flex-basis:58.3333333333% !important;
  }

  .col-8-xs{
    -webkit-flex-basis:66.6666666667% !important;
    flex-basis:66.6666666667% !important;
  }
  .col-9-xs{
    -webkit-flex-basis:75% !important;
    flex-basis:75% !important;
  }
  .col-10-xs{
    -webkit-flex-basis:83.3333333333% !important;
    flex-basis:83.3333333333% !important;
  }
  .col-11-xs{
    -webkit-flex-basis:91.6666666667% !important;
    flex-basis:91.6666666667% !important;
  }
  .col-12-xs{
    -webkit-flex-basis:100% !important;
    flex-basis:100% !important;
  }
  .offset-1-xs{margin-left:8.3333333333% !important;}
  .offset-2-xs{margin-left:16.6666666667% !important;}
  .offset-3-xs{margin-left:25% !important;}
  .offset-4-xs{margin-left:33.3333333333% !important;}
  .offset-5-xs{margin-left:41.6666666667% !important;}
  .offset-6-xs{margin-left:50% !important;}
  .offset-7-xs{margin-left:58.3333333333% !important;}
  .offset-8-xs{margin-left:66.6666666667% !important;}
  .offset-9-xs{margin-left:75% !important;}
  .offset-10-xs{margin-left:83.3333333333% !important;}
  .offset-11-xs{margin-left:91.6666666667% !important;}
}
.collapse{padding:0px;}
.text-center{text-align:center;}
.centered{
  margin-left:auto;
  margin-right:auto;
}
.centered-row{justify-content:center;}